Import

In [124]:
import pandas as pd

In [125]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [126]:
cocktail_path = 'drive/MyDrive/CIT594_Project/recipe_dataset.csv'
cocktail_df = pd.read_csv(cocktail_path)
cocktail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1781 entries, 0 to 1780
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1781 non-null   int64
 1   strDrink         1781 non-null   object
 2   strCategory      1781 non-null   object
 3   strGlass         1781 non-null   object
 4   strIngredients   1781 non-null   object
 5   Alc_type         931 non-null    object
 6   Basic_taste      850 non-null    object
 7   strInstructions  1781 non-null   object
 8   strMeasures      1664 non-null   object
 9   Value_ml         1351 non-null   float64
 10  Value_gr         173 non-null    float64
 11  Garnish_amount   149 non-null    object
 12  Garnish_type     150 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 181.0+ KB

In [127]:
cocktail_df.head(5)

,Unnamed: 0,strDrink,strCategory,strGlass,strIngredients,Alc_type,Basic_taste,strInstructions,strMeasures,Value_ml,Value_gr,Garnish_amount,Garnish_type
0,0,'57 Chevy with a White License Plate,Cocktail,Highball glass,Creme De Cacao White,Creamy Liqueur,NaN,1. Fill a rocks glass with ice 2.add white cre...,1 oz white,30.0,NaN,NaN,NaN
1,1,'57 Chevy with a White License Plate,Cocktail,Highball glass,Vodka,Vodka,NaN,1. Fill a rocks glass with ice 2.add white cre...,1 oz,30.0,NaN,NaN,NaN
2,2,1-900-FUK-MEUP,Shot,Old-fashioned glass,Grand Marnier,Triple Sec,NaN,Shake ingredients in a mixing tin filled with ...,1/4 oz,7.5,NaN,NaN,NaN
3,3,1-900-FUK-MEUP,Shot,Old-fashioned glass,Midori Melon Liqueur,Sweet Liqueur,NaN,Shake ingredients in a mixing tin filled with ...,1/4 oz,7.5,NaN,NaN,NaN
4,4,1-900-FUK-MEUP,Shot,Old-fashioned glass,Malibu Rum,Rum,NaN,Shake ingredients in a mixing tin filled with ...,1/4 oz,7.5,NaN,NaN,NaN

In [128]:
print(list(cocktail_df[cocktail_df['strDrink'] == 'Dirty Martini']['strInstructions'].head(1)))

['Pour the vodka, dry vermouth and olive brine into a cocktail shaker with a handful of ice and shake well.\r\nRub the rim of a martini glass with the wedge of lemon.\r\nStrain the contents of the cocktail shaker into the glass and add the olive.\r\nA dirty Martini contains a splash of olive brine or olive juice and is typically garnished with an olive.']

In [129]:
cocktail_df.columns

Index(['Unnamed: 0', 'strDrink', 'strCategory', 'strGlass', 'strIngredients',
       'Alc_type', 'Basic_taste', 'strInstructions', 'strMeasures', 'Value_ml',
       'Value_gr', 'Garnish_amount', 'Garnish_type'],
      dtype='object')

In [130]:
col_to_drop = ['Unnamed: 0', 'Alc_type', 
               'strMeasures', 'Value_ml', 
               'Value_gr', 'Garnish_amount', 
               'Garnish_type']
cocktail_df.drop(col_to_drop, axis='columns', inplace=True)    
cocktail_df.head(5)

,strDrink,strCategory,strGlass,strIngredients,Basic_taste,strInstructions
0,'57 Chevy with a White License Plate,Cocktail,Highball glass,Creme De Cacao White,NaN,1. Fill a rocks glass with ice 2.add white cre...
1,'57 Chevy with a White License Plate,Cocktail,Highball glass,Vodka,NaN,1. Fill a rocks glass with ice 2.add white cre...
2,1-900-FUK-MEUP,Shot,Old-fashioned glass,Grand Marnier,NaN,Shake ingredients in a mixing tin filled with ...
3,1-900-FUK-MEUP,Shot,Old-fashioned glass,Midori Melon Liqueur,NaN,Shake ingredients in a mixing tin filled with ...
4,1-900-FUK-MEUP,Shot,Old-fashioned glass,Malibu Rum,NaN,Shake ingredients in a mixing tin filled with ...

In [131]:
cocktail_df.dropna(inplace=True)
cocktail_df.reset_index(drop=True, inplace=True)
cocktail_df.head(5)

,strDrink,strCategory,strGlass,strIngredients,Basic_taste,strInstructions
0,1-900-FUK-MEUP,Shot,Old-fashioned glass,Cranberry Juice,sour,Shake ingredients in a mixing tin filled with ...
1,1-900-FUK-MEUP,Shot,Old-fashioned glass,Pineapple Juice,sweet,Shake ingredients in a mixing tin filled with ...
2,151 Florida Bushwacker,Milk / Float / Shake,Beer mug,Milk,cream,Combine all ingredients. Blend until smooth. G...
3,151 Florida Bushwacker,Milk / Float / Shake,Beer mug,Vanilla Ice-Cream,cream,Combine all ingredients. Blend until smooth. G...
4,155 Belmont,Cocktail,White wine glass,Orange Juice,sweet,Blend with ice. Serve in a wine glass. Garnish...

In [132]:
# cocktail_df = cocktail_df.groupby('strDrink').transform(lambda x: ','.join(x))

In [133]:
cocktail_df['strIngredients'] = cocktail_df.groupby('strDrink')['strIngredients'].transform(lambda x: ','.join(x))
cocktail_df = cocktail_df.groupby('strDrink').last().reset_index()
cocktail_df.head(5)

,strDrink,strCategory,strGlass,strIngredients,Basic_taste,strInstructions
0,1-900-FUK-MEUP,Shot,Old-fashioned glass,"Cranberry Juice,Pineapple Juice",sweet,Shake ingredients in a mixing tin filled with ...
1,151 Florida Bushwacker,Milk / Float / Shake,Beer mug,"Milk,Vanilla Ice-Cream",cream,Combine all ingredients. Blend until smooth. G...
2,155 Belmont,Cocktail,White wine glass,Orange Juice,sweet,Blend with ice. Serve in a wine glass. Garnish...
3,3-Mile Long Island Iced Tea,Ordinary Drink,Collins Glass,"Coca-Cola,Sweet And Sour,Lemon",sour,Fill 14oz glass with ice and alcohol. Fill 2/3...
4,410 Gone,Ordinary Drink,Collins Glass,Coca-Cola,sweet,"Pour 2oz Vodka into a low ball glass, top up w..."

In [134]:
cocktail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   strDrink         397 non-null    object
 1   strCategory      397 non-null    object
 2   strGlass         397 non-null    object
 3   strIngredients   397 non-null    object
 4   Basic_taste      397 non-null    object
 5   strInstructions  397 non-null    object
dtypes: object(6)
memory usage: 18.7+ KB

In [135]:
cocktail_df['strIngredients'] = cocktail_df['strIngredients'].apply(lambda x: x.split(','))
cocktail_df.head(5)

,strDrink,strCategory,strGlass,strIngredients,Basic_taste,strInstructions
0,1-900-FUK-MEUP,Shot,Old-fashioned glass,"[Cranberry Juice, Pineapple Juice]",sweet,Shake ingredients in a mixing tin filled with ...
1,151 Florida Bushwacker,Milk / Float / Shake,Beer mug,"[Milk, Vanilla Ice-Cream]",cream,Combine all ingredients. Blend until smooth. G...
2,155 Belmont,Cocktail,White wine glass,[Orange Juice],sweet,Blend with ice. Serve in a wine glass. Garnish...
3,3-Mile Long Island Iced Tea,Ordinary Drink,Collins Glass,"[Coca-Cola, Sweet And Sour, Lemon]",sour,Fill 14oz glass with ice and alcohol. Fill 2/3...
4,410 Gone,Ordinary Drink,Collins Glass,[Coca-Cola],sweet,"Pour 2oz Vodka into a low ball glass, top up w..."

In [147]:
cocktail_df.info()
print(len(cocktail_df['strDrink'].unique()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   strDrink         397 non-null    object
 1   strCategory      397 non-null    object
 2   strGlass         397 non-null    object
 3   strIngredients   397 non-null    object
 4   Basic_taste      397 non-null    object
 5   strInstructions  397 non-null    object
dtypes: object(6)
memory usage: 18.7+ KB
397

In [148]:
cocktail_df.to_csv("drive/MyDrive/CIT594_Project/cocktail_df_cleaned.csv", index = False)